.App {
  text-align: center;
}
.circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
background-color: white;

}

.burgerqueen{
  margin: -5% 0% 2% 0%;
  font-family: 'Wendy One', sans-serif;

}
.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80%;
  padding: 22px 2px 2px 2px;
 
}

.App-header {
  background-color: #B33553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.login{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 7px;
  width: 23%;
  cursor: pointer;
  margin: 5px;
}

